@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);

@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        width:100%;
}
}
@media (min-width: 769px) and (max-width: 1199px){
    .container {width:100%;}
    .header_links > li {
        margin: 0 5px;
        background:#ffeaa7;
    }
    .photo {  
    margin-right: 5%;
}
    .header {
        background:#ffeaa7;
    }
}
@media (max-width: 768px){
    .header_links {
        float:none;
        text-align: center;
        background:#ffeaa7;
    }
    .header {
        text-align: center;
        background:#ffeaa7;
    }
    .photo {
    float:none;
    width:100%;   
    padding: 5px 10px;
    }
        
}

* {
box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
    background: #dcdde1;
}
.row:before,
.row:after {
    content: ""; 
    display: table; 
}
.row:after {
    clear: both;
}
[class*="col-"] {
	float:left;
	min-height: 1px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    background:#ffeaa7;
    padding: 5px;
    width: 100%;
}
.header_links {
float: right;
  margin: 10px auto;
  list-style-type: none;
    
  
}
.logo {
    padding: 5px 0;
    margin: 10px auto;
    width: 150px;
    height: 50px;
}    
.header_links > li {
    display: inline-block;
    border: 1px solid black;
    margin: 5px 20px;
    padding: 0 10px;
    
    
}
.header_links > li > a {
    line-height: 30px;
  display: block;
  color: black;
  padding: 5px  20px;
  text-decoration: none;
  text-transform: uppercase;
}
.header_links > li > a:hover {
    color: deepskyblue;
    transition: 0.3s;
}

.clearfix {
    overflow: auto;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.hero {
    height: 100vh;
    background: lightblue;  
}
.section {
    text-align: center;
    padding: 10px 20px;; 
    background: lightblue;
    margin: 5px auto;
}
.gallery {
    text-align: center;
    width:100%;
    background: #fab1a0;
}
.photo {
    float:left;
    width:30%;   
    margin-right: 5%;
}
.photo:last-of-type {
    margin-right: 0;
}
.photos {
    width: 250px;
    height:300px;
}
.map {
    width: 100%;
    height: 40vh;   
}

.copyright {
    background: orange;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}
