@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);


* {
box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
    background: #dcdde1;
}
.row:before,
.row:after {
    content: ""; 
    display: table; 
}
.row:after {
    clear: both;
}
[class*="col-"] {
	float:left;
	min-height: 1px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    background: rgba(99, 110, 114,1.0);
    padding: 5px;
    width: 100%;
}
.clearfix {
    overflow: auto;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.header_links {
float: right;
  margin: 10px auto;
  list-style-type: none;
}
.logo {
    padding: 5px;
    margin: 2px auto;
    width: 160px;
    height: 90px;
}    
.header_links > li {
    display: inline-block;
    border: 1px solid black;
    margin: 5px 20px;
}
.header_links > li > a {
    line-height: 30px;
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(99, 110, 114,1.0);
    padding: 5px 10px;
}
.header_links > li > a:hover {
    color: blue;
    transition: 0.3s;
    background: darkgrey;
}
.hero {
    height: 100vh;
    background: lightblue;  
}
.section {
    text-align: center;
    padding: 10px 20px;; 
    background: lightblue;
    margin: 5px auto;
}
.gallery {
    text-align: center;
    width:100%;
    background: rgba(99, 110, 114,1.0);
}
.photo {
    float:left;
    width:30%;   
    margin-right: 5%;
}
.photo:last-of-type {
    margin-right: 0;
}
.photos {
    width: 250px;
    height:300px;
    border-radius: 5px;
}
.photos:hover {
    background: rgba(45, 52, 54,0.7 );
    transition: 0.4s;
    opacity: 0.7;   
    cursor:pointer;
}
.map {
    text-align: center;
    margin: 0 auto;
    padding: 5px 15px;
}
.map > img {
    width: 100%;
    height: 60vh;   
}
.copyright {
    background: orange;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}
@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
        width:100%;
    }
}
@media (min-width: 769px) and (max-width: 1199px){
    .container {width:100%;}
    .header_links > li {
        margin: 0 5px;
        background:#ffeaa7;
    }
    .photo {  
    margin-right: 5%;
    }
}
@media (max-width: 768px){
    .header_links {
        float:none;
        text-align: center;
        background:#ffeaa7;
    }
    .header_links > li {
        display: block;
    }
    .header {
        text-align: center;
        background:#ffeaa7;
    }
    .logo {
        margin: 0 auto;
    }
    .photo {
    float:none;
    width:100%;   
    padding: 10px;
    }
    .map {
        width: 100%;
    }    
    
}
